__pycache__/
.poetry/
*.pyc
*.pyo
*.pyd
*.pyz
*.pyw
*.egg-info/
dist/
build/
*.egg/
*.dist-info/
.pytest_cache/
.tox/
.pyright/
.mypy_cache/
.vscode/
*.db
*.sqlite3
*.log
*.pyre/
robotgo/static/proto_files/*
!robotgo/static/proto_files/*.proto
!robotgo/static/proto_files/__init__.py
